<a href="https://colab.research.google.com/github/wellingtonwcps/Tutoriais/blob/master/Planejamento_Estrategico_Situacional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
## Estabelecendo a conexão entre o repositório do Google Drive e o Colab
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
vetor_peso = pd.read_excel ('/content/drive/My Drive/PES/Matriz_Vetor_de_Peso.xlsx')
vetor_peso.head(7)

              Ator  X 1  X 2  X 3  X 4  X 5  X 6
0  Polícia Federal   70   60   50   60   60   15
1  Governo Federal   10   20   30   30   30   25
2             ADPF    5    0    0    0    0    5
3          FENAPEF    5    0    0    0    0    5
4       Judiciário    0    0    0    0   10   20
5              PRF    5   10   10    5   10   15
6              MPF    5   10   10    5   10   15

In [ ]:
motivacao = pd.read_excel ('/content/drive/My Drive/PES/Matriz_Motivacao.xlsx')
motivacao.head(7)

                         Ator  OP 1  OP 2  OP 3  ...  OP9  OP 10  OP11  OP12
0             Polícia Federal     1     1     1  ...  1.0      1     1     1
1  Governo Federal (MJ ME PR)     1     1     0  ...  1.0      1     1     0
2                        ADPF     1     1     0  ...  1.0      1     1     1
3                     FENAPEF    -1    -1     0  ... -0.5     -1     1     1
4                  Judiciário     0     0     0  ...  1.0      0     0     0
5                         PRF     0     0     0  ... -1.0      0     0     0
6                         MPF     0     0     0  ... -1.0      0     0     0

[7 rows x 13 columns]

In [ ]:
recursos_criticos =  pd.read_excel ('/content/drive/My Drive/PES/Matriz_Recursos_Criticos.xlsx')
recursos_criticos.head(7)

                        Capacidades   OP 1  OP2  ...  OP 10  OP 11  OP 12
0         1. Pessoal Suficiente - X1     1    1  ...      1      1      1
1  2. Acesso a dados Relevantes - X2     1    1  ...      1      1      0
2     3. Equipamentos Adequados - X3     0    0  ...      1      0      0
3      4. Capacidade Financeira - X4     0    0  ...      1      0      1
4      5. Tecnologia Disponível - X5     1    1  ...      1      0      0
5           6. Capital Político - X6     1    1  ...      0      0      0

[6 rows x 13 columns]

In [ ]:
#@title Insira o número da operação { run: "auto", vertical-output: true, display-mode: "both" }
integer_input =  12#@param {type:"integer"}
n=integer_input

In [ ]:
viabilidade_operacao = vetor_peso
viabilidade_operacao.head(7)

              Ator  X 1  X 2  X 3  X 4  X 5  X 6
0  Polícia Federal   70   60   50   60   60   15
1  Governo Federal   10   20   30   30   30   25
2             ADPF    5    0    0    0    0    5
3          FENAPEF    5    0    0    0    0    5
4       Judiciário    0    0    0    0   10   20
5              PRF    5   10   10    5   10   15
6              MPF    5   10   10    5   10   15

In [ ]:
motivacao.iloc[:,12]

0    1.0
1   -0.5
2    1.0
3    1.0
4    0.0
5    0.0
6    0.0
Name: OP12, dtype: float64

In [ ]:
recursos_criticos.iloc[:,12]

0    1
1    0
2    0
3    1
4    0
5    0
Name: OP 12, dtype: int64

In [ ]:
viabilidade_operacao['X 1']  = (viabilidade_operacao['X 1']*motivacao.iloc[:,n]*recursos_criticos.iloc[0,n])
viabilidade_operacao['X 2']  = (viabilidade_operacao['X 2']*motivacao.iloc[:,n]*recursos_criticos.iloc[1,n])
viabilidade_operacao['X 3']  = (viabilidade_operacao['X 3']*motivacao.iloc[:,n]*recursos_criticos.iloc[2,n])
viabilidade_operacao['X 4']  = (viabilidade_operacao['X 4']*motivacao.iloc[:,n]*recursos_criticos.iloc[3,n])
viabilidade_operacao['X 5']  = (viabilidade_operacao['X 5']*motivacao.iloc[:,n]*recursos_criticos.iloc[4,n])
viabilidade_operacao['X 6']  = (viabilidade_operacao['X 6']*motivacao.iloc[:,n]*recursos_criticos.iloc[5,n])

print ('Operação', n) 
viabilidade_operacao

operação 12

              Ator  X 1  X 2  X 3  X 4  X 5  X 6
0  Polícia Federal   70    0    0   60    0    0
1  Governo Federal    0    0    0    0    0    0
2             ADPF    5    0    0    0    0    0
3          FENAPEF    5    0    0    0    0    0
4       Judiciário    0    0    0    0    0    0
5              PRF    0    0    0    0    0    0
6              MPF    0    0    0    0    0    0